<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Gestion Lotissement</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			body,
			html {
				margin: 0;
				padding: 0;
				height: 100%;
			}
			.center-container {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
				flex-wrap: wrap;
			}
			.centered-element {
				/* text-align: center; */
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 5px;
				background-color: #f5f5f5;
				width: 100%;
				max-width: 600px;
			}
			.responsive-image {
				max-width: 100%;
				height: auto;
				border-radius: 3%;
			}
		</style>
	</head>
	<body>
		<div class="center-container">
			<div class="centered-element">
				<form class="bg-white rounded shadow-5-strong p-5" action="{{ path('app_register') }}" method="post">
					<div class="row">
						<img src="images/men_bar.png" style=" width: 100% " alt=""/>
					</div>
					<div class="row  text-center ">
						<h3>Inscription</h3>

					</div>

					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}">{{ message }}</div>
						{% endfor %}
					{% endfor %}

					<div class="form-group">
						<label for="matricule">Matricule</label>

						<input type="text" id="matricule" name="matricule" required class="form-control">

					</div>

					<div class="form-group">
						<label for="form1Example1">Adresse Email</label>

						<input type="email" value="" name="email" required class="form-control">

					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstName">Prénom</label>
								<input type="text" id="firstName" required name="firstName" class="form-control">

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="lastName">Nom</label>

								<input type="text" id="nom" required name="lastName" class="form-control">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Téléphone</label>

								<input type="text" id="phone" name="phone" required pattern="^(76|77|78|75|33|88)\d{7}$" class="form-control">

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="adresse">Adresse</label>

								<input type="text" id="adresse" name="adresse" required class="form-control">

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="Sexe">Sexe</label>
								<select id="sexe" name="sexe" class="form-control form-select" required>
									<option value="" disabled selected>Choisissez votre sexe</option>
									<option value="MASCULIN">Masculin</option>
									<option value="FÉMININ">Féminin</option>
								</select>
							</div>

						</div>


					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="plainPassword">Mot de passe</label>
								<input type="password" id="plainPassword" required name="plainPassword" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="confirPassword">Confirmer Mot de Passe</label>
								<input type="password" id="confirPassword" required name="confirPassword" class="form-control">
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-between">
						<button type="submit" class="btn btn-primary">
							S'inscrire</button>
						<a class="btn btn-outline-primary" href="{{ path('app_login') }}">Se connecter</a>
					</div>

				</form>
			</div>
		</div>
	</body>
</html>
