{% extends 'super_admin/include/main.html.twig' %}


{# {% titre de l'activite %} #}
{% block title_job %}
	<h1 class="card-title">{{ titre }}</h1>
{% endblock %}

{# {% operation possible %} #}
{% block option %}
	{% for message in app.flashes('success') %}
		<div class="flash-notice alert alert-success">{{ message }}</div>
	{% endfor %}

{% endblock %}

{# {% les donnees affichees %} #}

{% block data %}

	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<table class="table">
									<tbody>

										<tr>
											<th>
												<h3>
													Collège</h3>
											</th>


										</tr>
										<tr>
											<th>Nom
											</th>
											<td>{{ college.nom }}</td>
										</tr>

										<tr>
											<th>Description
											</th>
											<td>{{ college.description }}</td>
										</tr>

									</tbody>
								</table>


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
