{% extends 'client/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{ titre }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	<a class="btn btn-outline-primary float-right ml-1 btn-sm" href="{{ path('admin_college_liste') }}">
		<i class="fa fa-reply"></i>
		Retour</a>
	<a href=" {{ path('app_rapport_new') }}" class=" btn btn-info float-right btn-sm" role="button">
		<i class="fa fa-plus" aria-hidden="true"></i>
		Ajouter</a>
{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">

										<div class="card-body">
											<form action="{{ path('admin_college_nouveau' ) }}" method="POST">

												<div class="form-row">
													<div class="form-group col-md-12">
														<label for="Nom">Nom</label>
														<input type="text" name="nom" class="form-control " placeholder="Nom de la collège" id="nom" required>
													</div>
												</div>
												<div class="form-row">


													<div class="form-group col-md-12">
														<label for="code">Description
														</label>
														<textarea required rows="2" cols="3" name="description" class="form-control" id="description"></textarea>
													</div>
												</div>

												<div class="form-row">

													<div class="form-group col-12 m-*-auto">
														<button type="submit" class="pull-right btn btn-outline-success">
															<i class="fa fa-save fa-lg fa-fw"></i>
															valider
														</button>
													</div>
												</div>
											</form>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
